@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eight-ball-img-container {
  position: relative;
}

.eight-ball {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.magic-8-ball-container input:focus + .eight-ball {
  opacity: 1;
}

.response {
  margin-top: 1rem;
  text-align: center;
}